In [1]:
%matplotlib widget

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import psycopg2
from config import Password_SQL

connection_config = {'user':"postgres",
                    'password':Password_SQL,
                    'host':'localhost',
                    'port':'5432',
                    'database':'Employee_DB'}

connection = psycopg2.connect(**connection_config)

In [3]:
salary_df = pd.read_sql(sql='SELECT * FROM "Salaries";', con=connection)

In [4]:
title_salary_df = pd.read_sql(sql='select "Titles".title, "Salaries".salary from "Employees" join "Titles" on "Employees".emp_title_id = "Titles".title_id join "Salaries" on "Employees".emp_no = "Salaries".emp_no;', con=connection)

In [5]:
plt.hist(salary_df['salary'], bins = 20)
plt.title("The number of employees(Salary Range)")
plt.ylabel("Number of Employees")
plt.xlabel("Salary Range")
plt.tight_layout()
plt.savefig("salary_hist.png", bbox_inches='tight')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [6]:
title_salary_df.groupby('title').mean().plot.bar(rot=45)
plt.title("Average Salary of each position")
plt.ylabel("Salary")
plt.xlabel("Position")
plt.savefig("average_salary.png", bbox_inches='tight')
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …